@keyframes cambioColorFondo {
  0% {
    background-color: red;
  }
  
  100% {
    background-color: rgb(10, 10, 10);
  }
}

.cajas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    
  
    p {
      padding: 5px;
    }
  }
 
  .container-md1,
  .container-md2,
  .container-md3,
  .container-md4,
  .container-md5,
  .container-md6 {
    background-color: $primary-color;
    text-align: center;
    width: 400px;
    height: 600px;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      animation: cambioColorFondo 1s infinite;
    }
  }
  
  .yoga{
    width: 200px;
    height: 250px;
    margin: 10px;
  }

  .boxeo,
  .personalizado,
  .funcional,
  .montaña,
  .baile,
  .kevin {
    @extend .yoga;
  }