.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "caja1 caja1 caja1"
      "caja2 caja3 caja4"
      "caja5 caja5 caja5";
  }
  
  .box {
    border: 1px solid $primary-color;
  }
  
  .cajaa {
    grid-area: caja1;
    background-color: $primary-color;
    margin: 10px;
    border: 5px solid black;
  }
  
  .cajab {
    grid-area: caja2;
    background-color: $primary-color;
    margin: 10px;
  }
  
  .cajac {
    grid-area: caja3;
    background-color: $primary-color;
    margin: 10px;
  }
  
  .cajad {
    grid-area: caja4;
    background-color: $primary-color;
    margin: 10px;
  }
  
  .cajae {
    grid-area: caja5;
    background-color: $primary-color;
    margin: 10px;
  }
  .contenedor > div {
    display: grid;
    place-items: center;
  }
  
  .presentacion {
    background-color: $primary-color;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }
  
  .carousel-inner img {
    width: 90%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
  
  .main-content {
    min-height: calc(100vh - 150px);
    background-color: white;
    color: white;
  }